Creds/*
*__pycache__/
Scheduler/TaskMaker.py
Scheduler/DataBaseUtils.py
Scheduler/MakeTestDataBase.py
Scheduler/testDataBase.db
Scheduler/OUTPUT_DATA/
Docs/rcs-sm-db-backup.sql

*.db

sqlfix
.venv
*.DS_Store
AtlinAPI/AtlinAPI/.DS_Store
*_test.py

Output/
atenv
../AtlinAPI/.DS_Store
../AtlinAPI/AtlinAPI/.DS_Store
.DS_Store